header {
    /*background-color: #111;*/
    background-color: #fff;
}


header h1, header ul li {
    transition-duration: 150ms;
    color: #111;
}

header h1:hover, header ul li:hover {
    transition-duration: 150ms;
    color:  #ff1493;
}

header h1 {
    font-size: 26px;
    font-weight: bold;
}

/*未定*/
body{
    background-color: #f7f7f7;
}