img {
    width: 150px;
    height: 210px;
    margin-right: 20px;
    border: solid 1px rgba(200, 200, 200, 0.3);
}

.content {

}

.content h1 {
    font-size: 26px;
}


#search-form p{
    font-size: 20px;
}

#search-form .form ul li{
    display: inline-block;
}

#search-form .form ul li label{
    font-size: 18px;
    padding: 4px 8px;
    margin: 0 0 4px 0;
}

@media (min-width: 768px) {

    /*大画面*/
    img {
        width: 200px;
        height: 280px;
        margin-right: 20px;
    }
}